.App {
  text-align: center;
}

.primary-button {
    background-color: #4ECDC4;
    border-color: #4ECDC4;
    transition: background-color 0.3s ease; /* Smooth transition for color change */
}

.primary-button:hover, .primary-button:active, .primary-button:focus {
  background-color: #1b7e77 !important;
  border-color: #1b7e77 !important;
}

.icon-link {
  color: #4ECDC4;
  margin: 0 10px;
  font-size: 24px;
  transition: color 0.3s ease;
  position: relative;
  display: inline-block;
}

.icon-link:hover {
  color: #1b7e77;
}

.primary-button2 {
  background-color: #4ECDC4;
  border-color: #4ECDC4;
  padding: 10px 20px;
  font-weight: bold;
  font-size: 1rem; 
}

.primary-button2:hover, .primary-button2:active, .primary-button2:focus {
  background-color: #1b7e77 !important;
  border-color: #1b7e77 !important;
}

.secondary-button {
  background-color: white;
  border-color: white;
  color: #4ECDC4;
  padding: 10px 20px;
  font-weight: bold;
  font-size: 1rem;
}

.secondary-button:hover {
  background-color: #4ECDC4;
  border-color: #4ECDC4;
  color: white;
}

.secondary-button:active, .secondary-button:focus {
  background-color: #1b7e77 !important;
  border-color: #1b7e77 !important;
  color: white;
}

.secondary-button2 {
  background-color: white;
  border-color: white;
  color: #333333;
  padding: 10px 20px;
  font-weight: bold;
  font-size: 1rem;
}

.secondary-button2:hover {
  background-color: #333333;
  border-color: #333333;
  color: white;
}

.secondary-button2:active, .secondary-button2:focus {
  background-color: #000000 !important;
  border-color: #000000 !important;
  color: white;
}

.bg-image {
  margin: 0;
  padding: 0;
}

.cart-badge {
  position: absolute;
  top: 0px;
  right: -10px;
  background-color: red;
  color: white;
  border-radius: 50%;
  padding: 2px 8px;
  font-size: 0.75rem;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 20px;
}
